<!-- Footer partial -->
<footer class="footer bg-dark py-6 text-center text-light">
  <div class="container">
    <p>&copy; 2024 MonSite. Tous droits réservés.</p>
    <ul class="social-links list-inline">
      <li class="list-inline-item">
        <a href="#" class="text-light">
          <i class="fab fa-facebook-f"></i> <!-- Icône Facebook -->
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light">
          <i class="fab fa-twitter"></i> <!-- Icône Twitter -->
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="text-light">
          <i class="fab fa-instagram"></i> <!-- Icône Instagram -->
        </a>
      </li>
    </ul>
  </div>
</footer>
