.container {
  width: 100%; /* Largeur maximale du container */
  margin: 0; /* Centre horizontalement le container */
  padding: 0; /* Un peu de padding pour éviter que le contenu touche les bords */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Désactive le défilement horizontal */
}

@import 'pages/homeindex';
@import 'pages/product_index';
@import 'pages/product_show';
@import 'pages/offers_index';
@import 'pages/offers_show';
@import 'pages/cart';
@import 'pages/order_new';
@import 'pages/order_index';
@import 'pages/order_show';
@import 'pages/contact';
@import 'pages/about';
@import "pages/payment";

@import "components/footer";
@import "components/header";
@import "components/variables";
@import "components/flash";
@import "components/confirm_modal";
@import "components/back_to_top";
@import "components/cookie_banner";

@import "devise/registration";
@import "devise/business_registration";
@import "devise/login";
@import 'devise/account_edit';

@import "backoffice/layout";
@import "backoffice/dashboard";
@import "backoffice/products";
@import "backoffice/orders";

@import "backoffice/edit_new_product";

@import "backoffice/user/users.scss";
@import "backoffice/user/user_show.scss";
@import "backoffice/user/user_form.scss";

@import "backoffice/offers/offers";
@import "backoffice/offers/form";
