@import 'variables';
@import 'header';
@import 'footer';
@import 'homeindex';  // Ton fichier SCSS spécifique à la page d'accueil




/* Footer */
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 20px;
  text-align: center;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  p {
    margin: 0 0 15px;
  }

  .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;

    li a {
      color: #fff;
      text-decoration: none;
      font-size: 1.2rem;
      transition: color 0.3s ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
